.vs*/
/stack
/interpreter
/ide
/x64/
*.sln
*.filters
*.user
/picostack/
/picostack
/pcs
/helpers
/lexer
/parser
/Makefile
*.cache
/aclocal.m4
/compile
/config.h.in
/configure
/configure~
/depcomp
/install-sh
/Makefile.in
/missing
**/.deps
**/Makefile
/Makfile
/config.h
/config.log
/config.status
/stamp-h1
**/*.o
**/.dirstamp